<div class="center hero-unit">
  <h1>Mastermind Game</h1>
  <h2>
    A simple mastermind game with an AI solver. 
  </h2>

  <%= link_to "Play Here!", play_path, class: "btn btn-primary btn-large" %>
</div>
