<h1>How to Play</h1>
  <p>
    Mastermind is a color guessing game. Player 1 chooses a 4 color code (colors
    can repeat) from 6 possible colors. Player 2 then tries to guess the code.
    After each guess, the guessing player is told how many correct positions
    (correct color in the correct place) there are and how many correct colors
    (correct color in the incorrect place) there are. The guessing player gets a
    maximum of 10 tries. 
  </p>
</h1>
