<% #game_text = Mastermind:: GameText.new %>
<h1>Welcome to Mastermind</h1>
    <p>
      <% if @display_text %>
          <ul id="messages">
             <% @display_text.each do |message| %>
             <li> <%= message %> </li>
             <% end %>
          </ul>
             <br><%= link_to "Next Guess", '#' , class: "btn btn-large btn-primary" %></br>
      <% end %>
    </p>

